* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    font-family: Sofadi One;
}

.cabecalho ul {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    gap: 10vh;
}

.cabecalho a {
    text-decoration: none;
    background-color: rgb(104, 157, 24);
    padding: 1vh;
    border-radius: 1vh;
    color: black;
}